    .homepage-layout {
        background-color: #2C2F33;
        display: flex;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }

    .homepage-text {
        color: #4E5D94;
        display: flex;
        text-align: center;
        padding: 10px 10px 10px 10px;
        font-size: 30px
    }

    footer {
        display: inline-block; 
        background-color: black;
        padding-top: 10px; 
        padding-left: 40px;  
        padding-bottom: 30px; 
        text-align: left; 
        color: white;
        bottom: 0;
        position: relative;
        width: 100%;
      }
      
      footer a:hover {
        color: #FFFFFF;
      }
      
      footer a {
        text-decoration: none;
        color: #7289da;
      }