.App {
<<<<<<< HEAD
  background-color: #23272A;;
=======
  background-color: #4E5D94;
>>>>>>> 03591ec1dd8566bfb8a24e37fbcf69eed0f21589
  min-height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

